{{input value=query }}

Graph:

{{currentStock.symbol}}
{{currentHistory}}

{{daily-graph histories=currentHistory stock=currentStock}}

{{#if query}}
  <p>Displaying results for "{{query}}"</p>
  
  <ul>
    {{#each model as |s|}}
      <li><a {{action "draw" s}}>{{s.name}} - {{s.symbol}}</a></li>
    {{/each}}     
  </ul>
{{/if}}

{{outlet}}